<li>
  <h3 style ="opacity: 0.5"><strike><%= link_to task.body, team_task_path(@team, task) %></strike></h3>
</li>

<p style = "opacity: 0.5">Completed <%= time_ago_in_words(task.completed_at)  %> ago</p>

<%= render "task_footer", task: task %>
