<h1 style ="font-family: 'Play', sans-serif; padding-left: 15px">My Bookmarks</h1>
<hr>

<script>
        jQuery(document).ready(function() {
            DraggablePortlet.init();
        });
    </script>

    <% @bookmarks.each do |b| %>
    <%= b.content %>
    <% end %>

    <div class="row-fluid" id="draggable_portlets">
          <div class="col-md-3 column sortable">
              <!-- BEGIN Portlet PORTLET-->
              <div class="panel panel-default">
                  <div class="panel-heading"><a href="http://www.pressure-drop.com/Online-Calculator/">Pressure Drop Calculator</a></div>
                  <div class="panel-body">
                    Calculating the Pressure Drop in a Pipe. To calculate the pressure loss in a pipe it is necessary to compute a pressure drop, usually in fluid head, for each of the items that cause a change in pressure.
                  </div>
              </div>
              <!-- END Portlet PORTLET-->
              <!-- BEGIN Portlet PORTLET-->
              <div class="panel panel-danger">
                  <div class="panel-heading"><a href="http://www.pipeflowcalculations.net/orifice.xhtml">Orifice Sizing</a></div>
                  <div class="panel-body">
                      This calculator can be used for calculating of actual flow rate through orifice plate flow meter, for measured pressure drop and can also be used for orifice plate sizing.
                  </div>
              </div>
              <!-- END Portlet PORTLET-->
              <!-- BEGIN Portlet PORTLET-->
              <div class="panel panel-success">
                  <div class="panel-heading"><a href="http://www.unitconverters.net/">Unit Conversion</a></div>
                  <div class="panel-body">
                    Check your units before calculations!
                  </div>
              </div>
              <!-- END Portlet PORTLET-->
          </div>
          <div class="col-md-3 column sortable">
              <!-- BEGIN Portlet PORTLET-->
              <div class="panel panel-warning">
                  <div class="panel-heading">Timezone Table</div>
                  <div class="panel-body">
                      Time Zone Table
                  </div>
              </div>
              <!-- END Portlet PORTLET-->
              <!-- BEGIN Portlet PORTLET-->
              <div class="panel panel-primary">
                  <div class="panel-heading">Wikipedia</div>
                  <div class="panel-body">
                      Wikipedia
                  </div>
              </div>
              <!-- END Portlet PORTLET-->
              <!-- BEGIN Portlet PORTLET-->
              <div class="panel panel-info">
                  <div class="panel-heading">Engineering Tool Box</div>
                  <div class="panel-body">
                    Engineer's best friend.
                  </div>
              </div>
              <!-- END Portlet PORTLET-->
          </div>
          <div class="col-md-3 column sortable">
              <!-- BEGIN Portlet PORTLET-->
              <div class="panel panel-default">
                  <div class="panel-heading">Userful Links</div>
                  <div class="panel-body">
                    blah blah blah...
                  </div>
              </div>
              <!-- END Portlet PORTLET-->
              <!-- BEGIN Portlet PORTLET-->
              <div class="panel panel-info">
                  <div class="panel-heading">Starbucks</div>
                  <div class="panel-body">
                      Where is the closest *bucks?
                  </div>
              </div>
              <!-- END Portlet PORTLET-->
              <!-- BEGIN Portlet PORTLET-->
              <div class="panel panel-success">
                  <div class="panel-heading">Gym</div>
                  <div class="panel-body">
                      Stay fit!
                  </div>
              </div>
              <!-- END Portlet PORTLET-->
          </div>
          <div class="col-md-3 column sortable">
              <!-- BEGIN Portlet PORTLET-->
              <div class="panel panel-warning">
                  <div class="panel-heading">Ice Cream</div>
                  <div class="panel-body">
                    :D
                  </div>
              </div>
              <!-- END Portlet PORTLET-->
              <!-- BEGIN Portlet PORTLET-->
              <div class="panel panel-danger">
                  <div class="panel-heading">Add somethig new</div>
                  <div class="panel-body">
                    Something new...
                  </div>
              </div>
              <!-- END Portlet PORTLET-->

          </div>

      </div>


      <!-- page end-->
