<h1>Nearby Friends</h1>


  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>


  <script>
    // navigator.geolocation.getCurrentPosition(function(location) {
    //   const lat = location.coords.latitude;
    //   const lng = location.coords.longitude;
    //   window.location = window.location.href + `/?lng=${lng}&lat=${lat}`
    // });

    var map;
  var service;
  var infowindow;


    var pyrmont = new google.maps.LatLng(-33.8665433,151.1956316);

    map = new google.maps.Map(document.getElementById('map'), {
        center: pyrmont,
        zoom: 15
      });

    var request = {
      location: pyrmont,
      radius: '500',
      query: 'Starbucks'
    };

    service = new google.maps.places.PlacesService(map);
    service.nearbySearch(request, callback);


  function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        var place = results[i];
        createMarker(results[i]);
      }
    }
  }


      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }
  </script>
